stock-quote-demo/wsdl/StockQuoteDemo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--WSDL file template-->
<!--Created by IONA Artix Designer-->
<definitions name="StockQuoteDemo-doc-style.wsdl" 
    targetNamespace="http://ps.iona.com/training/StockQuoteDemo" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://ps.iona.com/training/StockQuoteDemo" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <schema targetNamespace="http://ps.iona.com/training/StockQuoteDemo" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <element name="getStockQuote">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="symbol" 
                            nillable="true" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getStockQuoteResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="value" 
                            type="xsd:decimal"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getStockDescription">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="symbol" 
                            nillable="true" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getStockDescriptionResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="description" 
                            type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getStockSymbols">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
            <element name="getStockSymbolsResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="symbols" 
                            type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="StockQuoteServiceFault">
                <complexType>
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="errorMessage" 
                        type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="1" name="errorCode" type="xsd:int"/>
                </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="getStockQuote">
        <part element="tns:getStockQuote" name="parameters"/>
    </message>
    <message name="getStockQuoteResponse">
        <part element="tns:getStockQuoteResponse" name="parameters"/>
    </message>
    <message name="getStockDescription">
        <part element="tns:getStockDescription" name="parameters"/>
    </message>
    <message name="getStockDescriptionResponse">
        <part element="tns:getStockDescriptionResponse" name="parameters"/>
    </message>
    <message name="getStockSymbols">
        <part element="tns:getStockSymbols" name="parameters"/>
    </message>
    <message name="getStockSymbolsResponse">
        <part element="tns:getStockSymbolsResponse" name="parameters"/>
    </message>
    <message name="stockQuoteServiceFault">
        <part element="tns:StockQuoteServiceFault" name="fault"/>
    </message>
    <portType name="StockQuoterI">
        <operation name="getStockQuote">
            <input message="tns:getStockQuote" name="getStockQuote"/>
            <output message="tns:getStockQuoteResponse" name="getStockQuoteResponse"/>
            <fault message="tns:stockQuoteServiceFault" name="getStockQuoteFault"/>
        </operation>
        <operation name="getStockDescription">
            <input message="tns:getStockDescription" name="getStockDescription"/>
            <output message="tns:getStockDescriptionResponse" 
                name="getStockDescriptionResponse"/>
            <fault message="tns:stockQuoteServiceFault" name="getStockDescriptionFault"/>
        </operation>
        <operation name="getStockSymbols">
            <input message="tns:getStockSymbols" name="getStockSymbols"/>
            <output message="tns:getStockSymbolsResponse" name="getStockSymbolsResponse"/>
            <fault message="tns:stockQuoteServiceFault" name="getStocksFault"/>
        </operation>
    </portType>
    <binding name="StockQuoterServiceSOAPBinding-doc-literal" type="tns:StockQuoterI">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getStockQuote">
            <soap:operation soapAction="" style="document"/>
            <input name="getStockQuote">
                <soap:body use="literal"/>
            </input>
            <output name="getStockQuoteResponse">
                <soap:body/>
            </output>
            <fault name="getStockQuoteFault">
                <soap:fault name="getStockQuoteFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getStockDescription">
            <soap:operation soapAction="" style="document"/>
            <input name="getStockDescription">
                <soap:body use="literal"/>
            </input>
            <output name="getStockDescriptionResponse">
                <soap:body/>
            </output>
            <fault name="getStockDescriptionFault">
                <soap:fault name="getStockDescriptionFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getStockSymbols">
            <soap:operation soapAction="" style="document"/>
            <input name="getStockSymbols">
                <soap:body use="literal"/>
            </input>
            <output name="getStockSymbolsResponse">
                <soap:body/>
            </output>
            <fault name="getStocksFault">
                <soap:fault name="getStocksFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="StockQuoterService">
        <port binding="tns:StockQuoterServiceSOAPBinding-doc-literal" 
            name="SOAPOverHTTPEndpoint">
            <soap:address location="http://localhost:9020/StockQuote/doc-literal"/>
        </port>
    </service>
</definitions>
